In [2]:
import pandas as pd
import numpy as np

In [5]:
df_blurbs = pd.read_csv("books_with_blurbs.csv")

In [6]:
df_blurbs.head()

,ISBN,Title,Author,Year,Publisher,Blurb
0,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,"Here, for the first time in paperback, is an o..."
1,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,"The fascinating, true story of the world's dea..."
2,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,Winnie and Helen have kept each others worst s...
3,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,Historians and inquisitive laymen alike love t...
4,1881320189,Goodbye to the Buttermilk Sky,Julia Oliver,1994,River City Pub,This highly praised first novel by fiction wri...

In [7]:
df_blurbs['Blurb'].nunique()

55308

In [8]:
df_blurbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57510 entries, 0 to 57509
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ISBN       57510 non-null  object
 1   Title      57510 non-null  object
 2   Author     57510 non-null  object
 3   Year       57510 non-null  int64
 4   Publisher  57510 non-null  object
 5   Blurb      57510 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.6+ MB

In [9]:
df_blurbs['Title'].nunique()

52307

In [10]:
df_blurbs['Blurb'][50000]

'Smart, warm, telling, and funny, Funny, Your Don\'t Look Like a Grandmother is the perfect bouquet for today\'s grandmother, that active and interesting woman who is old enough to be somebody\'s grandmother and young enough to run around the world.,Lois Wyse\'s new book, charmingly illustrated by Lilla Rogers, is a collection of wit and wisdom for today\'s Nana, Grandma, Goo-Goo, or Gran.,How can you recognize today\'s grandmother?,Easy, says Wyse.,The grandmother is the one who goes out more and complains less than her daughter. In the spirit of Erma Bombeck and Bill Cosby, Lois Wyse tells loving and amusing stories that illustrate the joys of contemporary grandmothering.,According to Lois Wyse, "A mother becomes a true grandmother the day she stops noticing the terrible things her children do because she is so enchanted with the wonderful things her grandchildren do.",Contemporary grandmothers and their children and grandchildren will see themselves in these reflections of family life that include everything from how it feels to become a grandmother to gentle advice on parenting and career grandmothers.,Funny, You Don\'t Look Like a Grandmother is the first nontraditional book about grandmothers who may not look like grandmothers -- but who love as deeply as the generations of grannies who preceded them.'